* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body {
    background-color: rgb(24, 26, 27);
}

.centered {
    text-align: center;
}

ul {
    text-align: center;
}

ul li{
    
    display: inline;
}

.btn {
    display: block; 
    background-color: rgb(98, 104, 110);
    width: 120px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
